# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# Don't commit zsh plugins and history
/link/.zsh/plugin
/link/.zsh/history

# Don't commit vim plugins, temp dir, and plugin manager
/link/.vim/plugged
/link/.vim/.temp
link/.vim/autoload/plug.vim

# Don't commit trac instances
/link/.trac/list
