[user]
  name = ivan
  email = EMAIL
[alias]
  co  = checkout
  b   = branch
  ci  = commit
  cia = commit -a
  s   = status
  lg  = log --all --decorate --graph --oneline
  lgg = log --all --decorate --graph --pretty=format:'%C(yellow)%h%Creset %C(green)%cr%Creset %C(blue)%an%Creset%C(green)%d%Creset %s' --abbrev-commit
  lgs = log --all --decorate --graph --stat --oneline
  no-ff = merge --no-ff
  rebase = rebase --committer-date-is-author-date
  wip = "!f(){ git add . && git commit -a -m\"WORK IN PROGRESS....\"; };f"
  ciaa = "!f(){ git add . && git commit -a; };f"
